{% extends "layout.html" %}

{% block title %}
 Create Todo
{% endblock %}

{% block content %}
<div class="col-6 mx-auto card p-3 shadow-lg">
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="mb-3">
    <textarea class="form-control" name="task_name" required placeholder="Name" id="name" rows="1"></textarea>
  </div>
  <div class="mb-3">
    <textarea class="form-control" name="task_description" required placeholder="To-Do Description" id="description" rows="3"></textarea>
  </div>
  <div class="mb-3">
    <select class="form-select" id="task_status" name="task_status" required aria-label="Default select example">
    <option selected>Select Task Status</option>
    <option value="Completed">Completed</option>
    <option value="Ongoing">Ongoing</option>
    <option value="Pending">Pending</option>
  </select>
  </div>
  <button type="submit" class="btn btn-success">Submit</button>
</form>
</div>

{% endblock %}