{% extends "layout.html" %}

{% block title %}
 Create Type
{% endblock %}

{% block content %}
<div class="col-6 mx-auto card p-3 shadow-lg">
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="mb-3">
    <textarea class="form-control" name="type_name" required placeholder="Name" id="name" rows="1"></textarea>
  </div>

  <div class="mb-3">
    <select class="form-select" id="task_data" name="type_description" required aria-label="Default select example">
    <option selected>Select Data Type</option>
    <option value="Boolean">Boolean</option>
    <option value="Integer">Integer</option>
    <option value="Floating Point">Floating Point</option>
    <option value="String">String</option>
  </select>
  </div>
  <button type="submit" class="btn btn-success">Submit</button>
</form>
</div>
  
{% endblock %}