{% extends "layout.html" %}

{% block title %}
 Home
{% endblock %}

{% block content %}

<div class="col-6 mx-auto card p-3 shadow-lg">
   <div class="list-group">
  <a href="/create_type" class="list-group-item list-group-item-action">Create Type</a>
  <a href="/type" class="list-group-item list-group-item-action">View Type</a>
  <a href="/create_todo" class="list-group-item list-group-item-action">Create Todo</a>
  <a href="/todo" class="list-group-item list-group-item-action">View Todo</a>
</div>
</div>

{% endblock %}
